.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
}

.head {
  display: flex;
  width: 80%;
  font-size: larger;
  font-weight: bold;
  position: relative;
  background-color: #ffff;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}
.head-end {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.search {
  border-radius: 10px;
  margin-top: 0px;
  width: 240px;
}
.today {
  background-color: #dedede;
  color: rgb(27, 27, 27);
  padding: 7px 30px;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 0px;
  font-size: 14px;
  -webkit-box-shadow: 0 8px 6px -6px #616161;
  -moz-box-shadow: 0 8px 6px -6px #616161;
  box-shadow: 0 8px 6px -6px #616161;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  position: relative;
  background-color: #ffff;
  border-radius: 10px;
  padding: 30px;
  margin: 20px;
}

.item {
  box-sizing: border-box;
}
.items {
  display: flex;
  justify-content: flex-start;
  font-size: large;
  font-weight: bold;
  background-color: #f3f3f3;
  padding: 15px;
  padding-right: 70px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.items:hover {
  cursor: pointer;
}

.appointment {
  background-color: rgb(234, 158, 16);
  color: white;
}

.icon {
  margin-right: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.nav {
  display: flex;
  background-color: #dedede;
  padding: 15px;
  border-radius: 10px;
  font-size: larger;
  font-weight: bold;
  margin-bottom: 10px;
}
.nav-end {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  font-size: 12px;
}
.nav-btn {
  display: flex;
  flex-direction: row;
  padding: 5px 5px;
  width: 100px;
}
.nav-btn:hover {
  cursor: pointer;
}
.online {
  display: flex;
  justify-content: center;
  margin-right: 20px;
  border-radius: 5px;
  color: white;
  background-color: rgb(234, 158, 16);
}

.center {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 10px;
  justify-content: space-between;
  background-color: #dedede;
}

.days {
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  flex-direction: row;
  justify-content: space-between;
}
.day {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: white;
}
.day:hover {
  cursor: pointer;
}
.sunday,
.monday {
  background-color: rgb(234, 158, 16);
}

.day-names {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  font-size: small;
}
.day-name {
  margin-left: -10px;
}
.short-text {
  display: none;
}
.sat {
  margin-right: 10px;
}

.boxes {
  display: grid;
  margin-top: 10px;
  margin-left: -10px;
  margin-right: -10px;
  grid-template-columns: repeat(7, 65px);
  grid-template-rows: repeat(4, 40px);
  justify-content: space-between;
  align-items: center;
}
.box {
  border-radius: 5px;
  border: 0px solid;
  background-color: #f3f3f3;
}
.box:hover {
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #dedede;
  padding: 5px;
  border-radius: 10px;
  margin-top: 10px;
}
.foot {
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #f3f3f3;
  padding: 5px;
  margin: 10px;
  width: 174px;
  font-size: small;
}
.foot-last {
  width: 200px;
}
.num {
  margin-top: 8px;
  color: #0d4259;
  font-weight: bold;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}
input[type="time"]::-webkit-datetime-edit-ampm-field {
  display: none;
}

button {
  padding: 5px 30px;
  width: 35%;
}

@media (max-width: 785px) {
  .head {
    flex-direction: column;
    align-items: center;
  }
  .head-end {
    flex-direction: column;
  }
  .search {
    margin-top: 10px;
  }
  .today {
    width: 100%;
    margin: 0px;
  }
  .main {
    flex-direction: column;
  }
  .form {
    margin-left: 0%;
  }

  .nav {
    flex-direction: column;
    align-items: center;
  }
  .nav-end {
    flex-direction: column;
    margin-top: 10px;
    margin-left: 0%;
    align-items: center;
  }
  .online {
    margin-right: 0%;
    margin-bottom: 5px;
  }
  .nav-btn {
    padding: 4px 5px;
    width: 75px;
  }

  .boxes {
    margin-left: -17px;
    margin-right: -15px;
    grid-template-columns: repeat(7, 26px);
    grid-template-rows: repeat(4, 33px);
    justify-items: stretch;
  }
  .box {
    padding: 0%;
  }

  .days {
    padding-left: 0%;
    padding-right: 0%;
  }
  .short-text {
    display: inline-block;
  }
  .full-text {
    display: none;
  }

  .footer {
    flex-direction: column;
  }

  button {
    padding: 5px 20px;
    width: 40%;
  }
}

@media (max-width: 1240px) {
  .main {
    flex-direction: column;
  }
  .form {
    margin-left: 0%;
  }
}
